/******************** Banner ********************/
.bannerSCnt {
  margin-top: 0.2rem;
  background: url("../../public/assets/bg3.jpg");
  background-repeat: no-repeat;
  padding: 7rem 5rem;
  background-position: center;
  background-size: cover;
}
.bannerSCnt .bannerCnt {
  width: 50%;
  margin: auto;
}
.bannerSCnt .bannerCnt .bannerP {
  text-align: center;
  color: #fff;
  font-size: 32.5px;
  line-height: 1;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 670px) {
  .bannerSCnt {
    padding: 4rem 5rem;
  }
  .bannerSCnt .bannerCnt {
    width: 100%;
  }
  .bannerSCnt .bannerCnt .bannerP {
    font-size: 20px;
    line-height: 1.3;
  }
}
