/******************* Courses ********************/
.crsB {
  margin-top: 6em;
}
.crsB .crsScnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 9em;
}
.crsB .crsCnt {
  display: block;
  text-align: center;
  width: 40%;
}
.crsB .crsheading {
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  width: 70%;
  margin: 1.5rem auto 0.5rem auto;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.crsB .crspgh {
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.crsScnt .crsCnt .crsName {
  font-weight: 400;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
}
/* .crsScnt .crsCnt .crsText {
  width: 30%;
} */
.crsScnt .crsCnt .crsRead {
  font-weight: 500;
  color: blue;
  text-transform: uppercase;
  font-size: 13px;
}
.crsMore {
  display: flex;
  justify-content: center;
  margin: 3.5em auto 2em auto;
  width: 25%;
  border: 2px solid rgba(0, 0, 50, 0.9);
  color: rgba(0, 0, 50, 0.9);
  padding: 0.6rem;
  text-transform: capitalize;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
}
.crsMore:hover {
  background: rgba(0, 0, 50, 0.9);
  box-shadow: 0px 2px 8px 0px #000;
  color: #fff;
}
@media screen and (max-width: 700px) {
  .crsB .crsScnt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
  }
  .crsB .crsheading {
    font-size: 27px;
  }
  .crsB .crspgh {
    font-size: 17px;
  }
  .crsScnt .crsCnt .crsName {
    font-size: 19px;
  }
  .crsScnt .crsCnt .crsText {
    font-size: 16px;
  }
  .crsMore {
    width: 30%;
  }
}
/***************** Blogs and Events ***************/

.blogCnt {
  margin: 5em 0;
  padding: 0 auto;
}
.blogCnt .blogHeading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
}
.blogCnt .blogP {
  text-align: center;
  font-size: 16px;
}
.blogCnt .blogPt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 2em auto;
}
.blogCnt .blogPt .blogBg {
  margin-right: 2em;
}
.blogCnt .blogPt .blogBg .blogHt {
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
}
.blogCnt .blogPt .blogBg .blogPnt {
  line-height: 2;
  font-size: 15px;
}
.blogCnt .blogPt .blogBg .blogLnk {
  color: #2d6cdf;
}
.blogCnt .blogBtn {
  display: flex;
  justify-content: center;
  margin: 3.5em auto 2em auto;
  border: 2px solid rgba(0, 0, 50, 0.9);
  width: 25%;
  color: rgba(0, 0, 50, 0.9);
  padding: 0.6rem;
  text-transform: capitalize;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.blogCnt .blogBtn:hover {
  background: rgba(0, 0, 50, 0.9);
  box-shadow: 0px 2px 8px 0px #000;
  color: #fff;
}
@media screen and (max-width: 800px) {
  .blogCnt .blogHeading {
    font-size: 28px;
  }
  .blogCnt .blogP {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
  .blogCnt .blogPt {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  .blogCnt .blogPt .blogBg .blogHt {
    font-size: 23px;
  }
  .blogCnt .blogPt .blogBg .blogPnt {
    font-size: 15px;
  }
}
